{% extends "coltrane/base_links.html" %}

{% block title %}{{ block.super }} | Latest links{% endblock %}

{% block content %}
{% for link in latest %}
  <h2>{{ link.title }}</h2>
  <p>Published on {{ link.pub_date|date:"F j, Y" }}.</p>
  {{ link.description_html|truncatewords_html:"50"|safe }}
  <p><a href="{{ link.get_absolute_url }}">Read full link</a></p>
{% endfor %}
{% endblock %}

{% block whatis %}
<p>This is a list of the latest {{ latest.count }} links published in my blog.</p>
{% endblock %}
